* {
    margin: 0px;
    padding: 0px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.name {
    font-size: 20px;
}

.navbar a {
    margin-left: 15px;
    text-decoration: none;
}